## Working with Finance data (Bank Stocks)

- From [Python for Data Science and Machine Learning Bootcamp](https://www.udemy.com/course/python-for-data-science-and-machine-learning-bootcamp/)
- Link to [all_banks](https://www.dropbox.com/scl/fi/7gip6uvds2b6xov0ekpg5/all_banks?rlkey=fmycmvdjey1nzceuap2i5rkdm&e=1&dl=0) pickle file

In [1]:
import pandas as pd

In [ ]:
all_banks_file = "./CourseResources/Refactored_Py_DS_ML_Bootcamp-master/10-Data-Capstone-Projects/all_banks"

In [37]:
bank_stocks = pd.read_pickle(all_banks_file)
bank_stocks.head(1)

Bank Ticker    BAC                                     C                       \
Stock Info    Open   High    Low  Close    Volume   Open   High    Low  Close
Date
2006-01-03   46.92  47.18  46.15  47.08  16296700  490.0  493.8  481.1  492.9

Bank Ticker           ...     MS                                 WFC         \
Stock Info    Volume  ...   Open   High    Low  Close   Volume  Open   High
Date                  ...
2006-01-03   1537660  ...  57.17  58.49  56.74  58.31  5377000  31.6  31.98

Bank Ticker
Stock Info    Low Close    Volume
Date
2006-01-03   31.2  31.9  11016400

[1 rows x 30 columns]

### Filter and slice Multi-Index

In [41]:
bank_stocks["BAC"]["2006-03-16":"2006-03-20"]

Stock Info   Open   High    Low  Close    Volume
Date
2006-03-16  46.48  46.90  46.48  46.76  13005400
2006-03-17  46.97  46.98  46.64  46.90  18970500
2006-03-20  46.71  47.00  46.56  46.90  11243700

In [43]:
bank_stocks["BAC"]["Close"].head(2)

Date
2006-01-03    47.08
2006-01-04    46.58
Name: Close, dtype: float64

In [39]:
tickers = sorted(bank_stocks.columns.unique(0))
tickers  # Bank of America, CitiBank, ...

['BAC', 'C', 'GS', 'JPM', 'MS', 'WFC']

### Multi-Index Cross Section (xs)

In [77]:
for tick in tickers:
    close_df = bank_stocks[tick]["Close"]
    print(f"{tick}\t{close_df.max()}\t({close_df.index.min().date()} to {close_df.index.max().date()})")

BAC	54.9	(2006-01-03 to 2015-12-31)
C	564.1	(2006-01-03 to 2015-12-31)
GS	247.92	(2006-01-03 to 2015-12-31)
JPM	70.08	(2006-01-03 to 2015-12-31)
MS	89.3	(2006-01-03 to 2015-12-31)
WFC	58.52	(2006-01-03 to 2015-12-31)

In [78]:
bank_stocks.xs(key="Close", axis=1, level="Stock Info").max()

Bank Ticker
BAC     54.90
C      564.10
GS     247.92
JPM     70.08
MS      89.30
WFC     58.52
dtype: float64